#toTop {
color: white !important;
width:150px;
height: auto;
border:1px solid black;
border-radius: 100px;
background: #8B0000;
opacity: 20%;
text-align:center;
padding:5px;
position:fixed;
bottom:15px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:#333;
font-family:verdana;
font-size:15px;
margin-right: 10px;
}
.navbar-brand{
	font-size: 23px;
	width: 300px;
	color: red !important;
	transition: all 2s;
}
.buttonn{
	font-size: 17px;
	width: 250px;
	color: red !important;
	transition: all 2s;
}
.img1{
	width: 100%;
	height: auto;
	margin-top: -100px;
}
.navbar{
background: 0;
border-color: red !important;
transition: all 2s;
}
.navbar-brand:hover{
	color: blue !important ;
	background: ;
	transition: all 2s;
}
.buttonn:hover{
	color: blue !important ;
	background: ;
	transition: all 2s;
}
.navbar:hover{
border-color: blue !important;
transition: all 2s;
}
body{
	background: black;
}
.img2{
	width: 100%;
}
.img3{
	width: 100%;
}
.img4{
	width: 100%;
}
img:hover{
 -webkit-filter: contrast(240%); 
}
img{
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
iframe:hover{
 -webkit-filter: contrast(200%); 
}
iframe{
	-webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
       -o-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.panel-warning{
	border: 2px solid #FF8C00;
}
.panel-danger{
	border:2px solid #FF0000;
}
.panel-primary{
	border: 2px solid #0000CD;
}
.cont{
	color: white;
	text-align: center;
}
.graf{
	margin-top: -37px;
}
.about{
	color: white;
	border-top: 1px solid red;
}
.ab{
	color: white;
}
.border{
	border-top: 1px solid red;
	padding: 5px;
	padding: 0 7em;
  	margin: 0 0em;
}
.dropdown-menu{
	font-size: 18px;
	width: 220px;
}
.txt1{
	color: red !important ;
	text-align: center;
}
.dc:hover{
 -webkit-filter: contrast(-200%) !important; 
}
.dc{
	-webkit-transition: all 25s ease;
     -moz-transition: all 25s ease;
       -o-transition: all 25s ease;
      -ms-transition: all 25s ease;
          transition: all 25s ease;
-webkit-filter: contrast(-200%) !important;
}